

.lls-form {
    .lls-form-group {
      margin-bottom: 1.5rem;
      position: relative;
  
      label {
        display: block;
        font-size: 14px;
        color: #000;
        text-transform: capitalize;
      }
  
      input,
      textarea,
      select {
        width: 100%;
        outline: none;
        border: solid 1px rgba(#2948ff, 20%);
        border-radius: 0;
        margin-top: 0.6rem;
        padding: 0.5rem;
        font-size: 14px;
        color: #000;
        background-color: rgba(#2948ff, 15%);
      }
  
      textarea {
        border-radius: 0;
        height: 10vh;
      }
  
      .errors-container {
        position: absolute;
  
        .errors {
          color: #e4021b;
          text-transform: capitalize;
          font-size:14px;
        }
      }
  
      input.ng-invalid.ng-touched,
      textarea.ng-invalid.ng-touched {
        border: solid 1px #e4021b;
      }
    }
  
  
  
    button{
      background-color: #2948ff;
      font-size: 1rem;
      color: #fff;
      padding: .6rem 1.5rem;
      border-color: #fff;
      cursor: pointer;
  }
  }
  