<section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-3">
          <form [formGroup]="expirmentForm" class="lls-form" (ngSubmit)="sendData()">
            <div class="lls-form-group">
              <label>Name:</label>
              <input formControlName="name" />
              <div
                *ngIf="
                  expirmentForm.get('name')?.invalid &&
                  expirmentForm.get('name')?.touched
                "
                class="errors-container"
              >
                <span
                  *ngIf="formControls['name'].errors?.['required']"
                  class="errors"
                >
                  name is required
                </span>
              </div>
            </div>
            <div class="lls-form-group">
              <label>Description:</label>
              <input formControlName="description" />
              <div
                *ngIf="
                  expirmentForm.get('description')?.invalid &&
                  expirmentForm.get('description')?.touched
                "
                class="errors-container"
              >
                <span
                  *ngIf="formControls['description'].errors?.['required']"
                  class="errors"
                >
                  description is required
                </span>
              </div>
            </div>
            <button
              type="submit"
              [disabled]="expirmentForm.invalid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  