@import "app.scss";
// #g_a11y_announcement {
//   display: none;
// }
// body {
//   min-width: 320px;

//   // overflow: hidden;
//   &.rtl {
//     direction: rtl;
//     text-align: right;
//     .c-regular {
//       font-family: $E-Ca-regular;
//     }
//     .c-bold {
//       font-family: $E-Ca-bold;
//     }
//   }
// }
// .opactiy-spinner {
//   opacity: 0;
// }
// h1,
// h2,
// h3,
// * {
//   margin: 0;
//   padding: 0;
// }

// ul {
//   margin: 0;
//   padding: 0;
// }

// li {
//   list-style: none;
// }
// .range {
//   background-color: $black;
//   width: 100%;
//   .p-slider-range {
//     background-color: $black;
//   }
//   .p-slider-handle:focus {
//     box-shadow: none;
//   }
//   &:not(.p-disabled) .p-slider-handle:hover,
//   .p-slider-handle {
//     background-color: $black;
//     border: 2px solid $black;
//     width: 1rem;
//     height: 1rem;
//   }
// }
// .filter-input {
//   opacity: 0;
//   @include media-breakpoint-down(xl) {
//     opacity: 1;
//     &:not(.p-disabled):hover {
//       background-color: $primary;
//       box-shadow: none;
//       border-color: transparent;
//     }
//     &:not(.p-disabled).p-focus {
//       border-color: $primary;
//       box-shadow: none;
//     }
//     .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
//       color: $primary;
//     }
//   }
// }
// // all global classes
// .container-fluid {
//   // padding-inline-start: 5.729vw;
//   padding-left: 6.729vw;
//   padding-right: 6.729vw;
// }
// // .dialog-cart {
// //   .p-dialog {
// //     width: 35rem;
// //   }
// //   .p-dialog-mask {
// //     top: -27%;
// //   }
// // }
// .btn-container {
//   @include flexCenter;
// }
// .refund-checkbox {
//   width: 2rem;

//   .p-checkbox {
//     .p-checkbox-box.p-highlight {
//       border-color: $beige;
//       background-color: $primary;
//       outline: $primary;
//     }
//   }
//   .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
//     border-color: $beige;
//     background-color: $primary;
//     outline: $primary;
//   }
//   .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
//     box-shadow: none;
//   }
//   .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
//     border-color: $primary;
//   }
// }
// .dialog-address {
//   .p-component {
//     width: 60%;
//     max-height: 50%;
//     border-top-right-radius: 20px;
//     border-bottom-left-radius: 20px;
//   }
//   .p-dialog .p-dialog-content {
//     // padding: 1rem;
//   }
//   .p-dialog {
//     box-shadow: none;
//   }
//   @include media-breakpoint-down(md) {
//     .p-component {
//       width: 100%;
//       max-height: 50%;
//       border-top-right-radius: 20px;
//       border-bottom-left-radius: 20px;
//     }
//   }
// }
// .panel-faq {
//   .p-component {
//     width: 100%;
//   }

//   .p-panel .p-panel-header {
//     border-top-right-radius: 20px;
//     font-family: $E-m-bold;
//     @include toRem(font-size, 20);
//     justify-content: space-between;
//   }
//   .p-panel .p-panel-content {
//     border-bottom-left-radius: 20px !important;
//     font-family: $E-m-regular;
//     @include toRem(font-size, 16);
//   }
//   .p-panel .p-panel-content,
//   .p-panel-header {
//     border-color: none;
//     background: $beige100;
//     padding: 1.25rem;
//     border: none;
//     color: $black;
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top: 0 none;
//     border-top-right-radius: 0;
//     border-top-left-radius: 0;
//   }
//   .p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
//     background: $primary;
//   }
//   .p-panel .p-panel-header .p-panel-header-icon:focus {
//     outline: 0 none;
//     outline-offset: 0;
//     box-shadow: 0 0 0 0.2rem $beige100;
//   }
//   .p-panel .p-panel-icons-end {
//     margin-left: 0;
//     // margin-right: 0;
//   }
//   // @include media-breakpoint-down(md) {
//   //   .p-component {
//   //     width: 100%;
//   //   }
//   // }
// }
// .dialog-cart {
//   .p-component {
//     width: 35%;
//     max-height: 50%;
//     border-top-right-radius: 20px;
//     border-bottom-left-radius: 20px;
//   }
//   .p-dialog .p-dialog-content {
//     padding: 1rem;
//   }
//   .p-dialog-mask {
//     // top: -12%;
//   }
//   .p-dialog {
//     box-shadow: none;
//   }
//   @include media-breakpoint-down(md) {
//     .p-component {
//       display: none;
//     }
//   }
// }
// // s padding top and bottom
// .padding-y {
//   padding-top: 3rem;
//   padding-bottom: 3rem;
// }

// //cursor pointer
// .cursor {
//   cursor: pointer;
// }

// a {
//   text-decoration: none;
// }

// // button eespreso
// .eespreso-btn {
//   border: none;
//   outline: none;
//   @include flexCenter;
//   @include toRem(font-size, 16);
//   border-top-right-radius: 10px;
//   border-bottom-left-radius: 10px;
//   padding: 0.6rem 3rem;
//   color: $white;
//   font-family: $E-m-bold;
//   width: auto;

//   @include media-breakpoint-down(md) {
//     width: 100%;
//   }
// }

// //btn disabled
// .eespreso-btn:disabled {
//   opacity: 0.3;
// }

// // img design
// .img-container {
//   height: 35vh;
//   border-top-right-radius: 10px;
//   border-bottom-left-radius: 10px;
//   @include background-image;
// }

// //to all phargraph in eespreso
// .text-container {
//   width: 70%;

//   @include media-breakpoint-down(xl) {
//     width: 100%;
//   }
// }

// //order should be on all text to be in top in big page
// .order-one {
//   order: 1;

//   @include media-breakpoint-down(xl) {
//     order: 2;
//   }
// }

// //order should be on all img to be in top in responsive
// .order-two {
//   order: 2;

//   @include media-breakpoint-down(xl) {
//     order: 1;
//   }
// }

// // auth page design
// .auth-page {
//   background-image: url("../imgs/English\ background.png");
//   @include background-image;
//   width: 100%;
//   min-height: 100vh;
//   @include yCenter;

//   @include media-breakpoint-down(md) {
//     background-image: none;
//   }
//   .social-media {
//     .eespreso-btn {
//       padding: 0.6rem 1rem;
//       min-width: 15rem;
//       position: relative;
//     }
//     .signUp-google {
//       opacity: 0.01;
//       position: absolute;
//       // min-width: 15rem;
//       width: 100%;
//       height: 100%;
//       z-index: 11;
//     }
//     @include media-breakpoint-down(md) {
//       flex-direction: row;

//       .eespreso-btn {
//         display: none;
//       }
//     }
//   }
//   .social-responsive {
//     display: none;
//     @include media-breakpoint-down(md) {
//       @include flexCenter;
//       flex-direction: column;
//       position: relative;
//       .signUp-google {
//         opacity: 1;
//         position: absolute;
//         width: 26.042px;
//         height: 25.324px;
//       }
//     }
//   }
//   &.rtl {
//     background-image: url("../imgs/Arabic\ background.png");
//     font-family: $E-Ca-regular;
//     span {
//       font-family: $E-Ca-bold;
//     }
//     .icon {
//       left: 6%;
//       right: auto;
//     }
//     @include media-breakpoint-down(md) {
//       background-image: none;
//     }
//   }
// }

// //auth page responsive
// @include media-breakpoint-down(md) {
//   .auth-page-reponsive {
//     background-image: url("../imgs/Group\ 438.png");
//     @include background-image;
//     background-position: top;
//     width: 100%;
//     min-height: 100vh;
//     @include yCenter;
//   }
// }
// .outStock-diloag {
//   .p-component {
//     width: 50%;
//     border-top-right-radius: 20px;
//     border-bottom-left-radius: 20px;
//     border-bottom-right-radius: 0px;
//   }
//   .p-dialog .p-dialog-content {
//     padding: 2rem;
//   }
//   .p-dialog .p-dialog-content:last-of-type {
//     // border-top-right-radius: 20px;
//     // border-bottom-left-radius: 20px;
//     border-bottom-right-radius: 0px;
//   }

//   @include media-breakpoint-down(md) {
//     .p-component {
//       width: 90%;
//     }
//   }
// }
// .login-diloag {
//   .p-component {
//     width: 58%;
//   }
//   .p-dialog .p-dialog-content {
//     padding: 0;
//   }
//   .p-dialog .p-dialog-content:last-of-type {
//     border-top-right-radius: 20px;
//     border-bottom-left-radius: 20px;
//     border-bottom-right-radius: 0px;
//   }
//   .p-dialog {
//     box-shadow: none;
//   }
//   @include media-breakpoint-down(md) {
//     .p-component {
//       width: 90%;
//     }
//   }
// }
// .rateOn::before {
//   content: url("../imgs/coffee-bean-for-a-coffee-break-svgrepo-com.svg");
//   width: 100%;
//   height: 100%;
// }
// .rateOff:before {
//   content: url("../imgs/coffe.png");
//   width: 100%;
//   height: 100%;
// }

// .p-rating .p-rating-icon:focus {
//   box-shadow: none;
// }
// .p-rating .p-rating-icon:first-child {
//   &.rtl {
//     margin-right: 0;
//     margin-left: auto;
//   }
// }
// .rating-reveiw {
//   justify-content: start;
// }
// .logos {
//   img {
//     width: 8rem;
//     height: 8rem;
//     object-fit: contain;
//   }
// }
// //nav margin
// .nav-margin {
//   margin-top: 10rem;
// }
// // scrolling bar
// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }

// ::-webkit-scrollbar-thumb {
//   background: $primary;
// }

// ::-webkit-scrollbar-track {
//   background: $white;
// }

// // padding

// // padding top

// .s-pt-1 {
//   padding-top: 1rem;
// }

// .s-pt-2 {
//   @include x-small-screen {
//     padding-top: 1.5rem;
//   }

//   @include large-screen {
//     padding-top: 1.8rem;
//   }

//   @include xlarge-screen {
//     padding-top: 2rem;
//   }
// }

// .s-pt-3 {
//   @include x-small-screen {
//     padding-top: 1.8rem;
//   }

//   @include large-screen {
//     padding-top: 2.1rem;
//   }

//   @include xlarge-screen {
//     padding-top: 3rem;
//   }
// }

// .s-pt-4 {
//   @include x-small-screen {
//     padding-top: 2rem;
//   }

//   @include large-screen {
//     padding-top: 2.3rem;
//   }

//   @include xlarge-screen {
//     padding-top: 4rem;
//   }
// }

// .s-pt-5 {
//   @include x-small-screen {
//     padding-top: 2.5rem;
//   }

//   @include large-screen {
//     padding-top: 2.8rem;
//   }

//   @include xlarge-screen {
//     padding-top: 5rem;
//   }
// }

// // padding bottom

// .s-pb-1 {
//   padding-bottom: 1rem;
// }

// .s-pb-2 {
//   @include x-small-screen {
//     padding-bottom: 1.5rem;
//   }

//   @include large-screen {
//     padding-bottom: 1.8rem;
//   }

//   @include xlarge-screen {
//     padding-bottom: 2rem;
//   }
// }

// .s-pb-3 {
//   @include x-small-screen {
//     padding-bottom: 1.8rem;
//   }

//   @include large-screen {
//     padding-bottom: 2.1rem;
//   }

//   @include xlarge-screen {
//     padding-bottom: 3rem;
//   }
// }

// .s-pb-4 {
//   @include x-small-screen {
//     padding-bottom: 2rem;
//   }

//   @include large-screen {
//     padding-bottom: 2.3rem;
//   }

//   @include xlarge-screen {
//     padding-bottom: 4rem;
//   }
// }

// .s-pb-5 {
//   @include x-small-screen {
//     padding-bottom: 2.5rem;
//   }

//   @include large-screen {
//     padding-bottom: 2.8rem;
//   }

//   @include xlarge-screen {
//     padding-bottom: 5rem;
//   }
// }

// // padding right
// .s-pr-1 {
//   padding-right: 1rem;
// }

// .s-pr-2 {
//   @include x-small-screen {
//     padding-right: 1.5rem;
//   }

//   @include large-screen {
//     padding-right: 1.8rem;
//   }

//   @include xlarge-screen {
//     padding-right: 2rem;
//   }
// }

// .s-pr-3 {
//   @include x-small-screen {
//     padding-right: 1.8rem;
//   }

//   @include large-screen {
//     padding-right: 2.1rem;
//   }

//   @include xlarge-screen {
//     padding-right: 3rem;
//   }
// }

// //  margin

// // margin top
// .s-mt-1 {
//   margin-top: 1rem;
// }

// .s-mt-2 {
//   @include x-small-screen {
//     margin-top: 1.5rem;
//   }

//   @include large-screen {
//     margin-top: 1.8rem;
//   }

//   @include xlarge-screen {
//     margin-top: 2rem;
//   }
// }

// .s-mt-3 {
//   @include x-small-screen {
//     margin-top: 1.8rem;
//   }

//   @include large-screen {
//     margin-top: 2.1rem;
//   }

//   @include xlarge-screen {
//     margin-top: 3rem;
//   }
// }

// .s-mt-4 {
//   @include x-small-screen {
//     margin-top: 2rem;
//   }

//   @include large-screen {
//     margin-top: 2.3rem;
//   }

//   @include xlarge-screen {
//     margin-top: 4rem;
//   }
// }

// .s-mt-5 {
//   @include x-small-screen {
//     margin-top: 2.5rem;
//   }

//   @include large-screen {
//     margin-top: 2.8rem;
//   }

//   @include xlarge-screen {
//     margin-top: 5rem;
//   }
// }

// // margin bottom

// .s-mb-1 {
//   margin-bottom: 1rem;
// }

// .s-mb-2 {
//   @include x-small-screen {
//     margin-bottom: 1.5rem;
//   }

//   @include large-screen {
//     margin-bottom: 1.8rem;
//   }

//   @include xlarge-screen {
//     margin-bottom: 2rem;
//   }
// }

// .s-mb-3 {
//   @include x-small-screen {
//     margin-bottom: 1.8rem;
//   }

//   @include large-screen {
//     margin-bottom: 2.1rem;
//   }

//   @include xlarge-screen {
//     margin-bottom: 3rem;
//   }
// }

// .s-mb-4 {
//   @include x-small-screen {
//     margin-bottom: 2rem;
//   }

//   @include large-screen {
//     margin-bottom: 2.3rem;
//   }

//   @include xlarge-screen {
//     margin-bottom: 4rem;
//   }
// }

// .s-mb-5 {
//   @include x-small-screen {
//     margin-bottom: 2.5rem;
//   }

//   @include large-screen {
//     margin-bottom: 2.8rem;
//   }

//   @include xlarge-screen {
//     margin-bottom: 5rem;
//   }
// }

// // margin right
// .s-mr-1 {
//   margin-right: 1rem;
// }

// .s-mr-2 {
//   @include x-small-screen {
//     margin-right: 1.5rem;
//   }

//   @include large-screen {
//     margin-right: 1.8rem;
//   }

//   @include xlarge-screen {
//     margin-right: 2rem;
//   }
// }

// .s-mr-3 {
//   @include x-small-screen {
//     margin-right: 1.8rem;
//   }

//   @include large-screen {
//     margin-right: 2.1rem;
//   }

//   @include xlarge-screen {
//     margin-right: 3rem;
//   }
// }

// // margin left
// .s-ml-1 {
//   margin-left: 1rem;
// }

// .s-ml-2 {
//   @include x-small-screen {
//     margin-left: 1.5rem;
//   }

//   @include large-screen {
//     margin-left: 1.8rem;
//   }

//   @include xlarge-screen {
//     margin-left: 2rem;
//   }
// }

// .s-ml-3 {
//   @include x-small-screen {
//     margin-left: 1.8rem;
//   }

//   @include large-screen {
//     margin-left: 2.1rem;
//   }

//   @include xlarge-screen {
//     margin-left: 3rem;
//   }
// }

// // padding left
// .s-pl-1 {
//   padding-left: 1rem;
// }

// .s-pl-2 {
//   @include x-small-screen {
//     padding-left: 1.5rem;
//   }

//   @include large-screen {
//     padding-left: 1.8rem;
//   }

//   @include xlarge-screen {
//     padding-left: 2rem;
//   }
// }

// .s-pl-3 {
//   @include x-small-screen {
//     padding-left: 1.8rem;
//   }

//   @include large-screen {
//     padding-left: 2.1rem;
//   }

//   @include xlarge-screen {
//     padding-left: 3rem;
//   }
// }
