<div
  *ngFor="let color of colors"
  class="border"
  pDraggable="color"
  (onDragStart)="dragStart($event, color)"
  (onDragEnd)="dragEnd($event)"
>
  {{ color }}
</div>


<div class="drop" pDroppable="color" (onDrop)="drop($event)">
  <div *ngFor="let c of droped">
    {{ c }}
    <form [formGroup]="formsMsq">
      <input type="text" formControlName="question" />
      <input type="text" formControlName="answerO" />
      <input type="text" formControlName="ansewrT" />
    </form>
  </div>
</div>
