:host ::ng-deep .drag-column {
    padding-right: .5em;
}

.drop-column {
    border: 1px solid transparent;
    transition: border-color .2s;

    &.p-draggable-enter {
        border-color: var(--primary-color); 
    }
}

.product-item {
	display: flex;
	align-items: center;
	padding: .5rem;
    width: 100%;
    border-bottom: 1px solid var(--surface-d);

	img {
		width: 75px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 1rem;
	}

	.product-list-detail {
		flex: 1 1 0;
	}

	.product-list-action {
		display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .product-category {
        vertical-align: middle;
        line-height: 1;
    }
}

[pDraggable] {
    cursor: move;
}

@media screen and (max-width: 576px) {
    .product-item {
        flex-wrap: wrap;

        .image-container {
            width: 100%;
            text-align: center;
        }

        img {
            margin: 0 0 1rem 0;
            width: 100px;
        }
    }
}
p {
    font-family: Lato;
  }
  
  .border {
    border:1px solid #ccc;
    margin: 1rem 0;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .drop {
    border: 1px dashed #ccc;
    padding: 1rem;
  }
