// $black: #000000;
// $white: #ffffff;
// $white50: #f6f6f6;
// $babyBlue: #365780;
// $beige50: #dbd0c8;
// $beige: #f1debd;
// $beige100: #e0c89e;
// $primary: #d9a74e;
// $grey50: #d5d5d5;
// $grey: #707070;
// $grey100: #6a6a6a;
// $green: #7bb463;

// .black {
//   color: $black;
// }
// .white {
//   color: $white;
// }
// .white50 {
//   color: $white50;
// }
// .babyBlue {
//   color: $babyBlue;
// }
// .beige {
//   color: $beige;
// }
// .beige50 {
//   color: $beige50;
// }
// .beige100 {
//   color: $beige100;
// }
// .primary {
//   color: $primary;
// }
// .grey50 {
//   color: $grey50;
// }
// .grey {
//   color: $grey;
// }
// .grey100 {
//   color: $grey100;
// }
// .green {
//   color: $green;
// }
// .primary50 {
//   color: $primary;
//   opacity: 14%;
// }
// .bg-black {
//   background-color: $black;
// }
// .bg-primary {
//   background-color: $primary !important;
// }
// .bg-primary50 {
//   background-color: rgba($primary, 15%) !important;
// }
// .bg-input {
//   background-color: $beige50 !important;
// }
// .bg-babyBlue {
//   background-color: $babyBlue;
// }
// .bg-grey50 {
//   background-color: $grey50;
// }
// .bg-grey100 {
//   background-color: rgba($grey100, 15%);
// }
// .bg-beige {
//   background-color: rgba($beige, 25%);
// }
// .bg-greyLight {
//   background-color: rgba($black, 2%);
// }
