<section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-3">
          <form [formGroup]="loginForm" class="lls-form" (ngSubmit)="sendData()">
            <div class="lls-form-group">
              <label>Email:</label>
              <input formControlName="email" />
              <div
                *ngIf="
                  loginForm.get('email')?.invalid &&
                  loginForm.get('email')?.touched
                "
                class="errors-container"
              >
                <span
                  *ngIf="formControls['email'].errors?.['required']"
                  class="errors"
                >
                  email is required
                </span>
              </div>
            </div>
            <div class="lls-form-group">
              <label>Password:</label>
              <input formControlName="password" type="password" />
              <div
                *ngIf="
                  loginForm.get('password')?.invalid &&
                  loginForm.get('password')?.touched
                "
                class="errors-container"
              >
                <span
                  *ngIf="formControls['password'].errors?.['required']"
                  class="errors"
                >
                  password is required
                </span>
              </div>
            </div>
            <button
              type="submit"
              [disabled]="loginForm.invalid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  